{
  "swagger": "2.0",
  "info": {
    "version": "2020-11-01",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections": {
      "get": {
        "tags": [
          "InvoiceSections"
        ],
        "x-ms-examples": {
          "InvoiceSectionsListByBillingProfile": {
            "$ref": "./examples/InvoiceSectionsListByBillingProfile.json"
          }
        },
        "operationId": "InvoiceSections_ListByBillingProfile",
        "description": "Lists the invoice sections that a user has access to. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [{
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "name": "$includeAll",
            "description": "May be used to include filtered out invoice sections.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSectionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}": {
      "get": {
        "tags": [
          "InvoiceSections"
        ],
        "x-ms-examples": {
          "InvoiceSection": {
            "$ref": "./examples/InvoiceSection.json"
          }
        },
        "operationId": "InvoiceSections_Get",
        "description": "Gets an invoice section by its ID. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [{
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "InvoiceSections"
        ],
        "operationId": "InvoiceSections_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "description": "Creates or updates an invoice section. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "x-ms-examples": {
          "PutInvoiceSection": {
            "$ref": "./examples/PutInvoiceSection.json"
          }
        },
        "parameters": [{
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvoiceSection"
            },
            "description": "The new or updated invoice section."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSection"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommended time to wait before making another request to check the status of the operation. The time is specified in seconds.",
                "type": "integer"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "InvoiceSections"
        ],
        "x-ms-examples": {
          "DeleteInvoiceSection": {
            "$ref": "./examples/DeleteInvoiceSection.json"
          }
        },
        "operationId": "InvoiceSections_Delete",
        "description": "Deletes an invoice section. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement or Microsoft Partner Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [{
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/validateDeleteInvoiceSectionEligibility": {
      "get": {
        "tags": [
          "InvoiceSections"
        ],
        "x-ms-examples": {
          "ValidateDeleteInvoiceSectionEligibilitySuccess": {
            "$ref": "./examples/ValidateDeleteInvoiceSectionEligibilitySuccess.json"
          },
          "ValidateDeleteInvoiceSectionEligibilityFailure": {
            "$ref": "./examples/ValidateDeleteInvoiceSectionEligibilityFailure.json"
          }
        },
        "operationId": "InvoiceSections_GetEligibilityToDeleteInvoiceSection",
        "description": "Validates if the invoice section can be deleted. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement or Microsoft Partner Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "parameters": [{
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSectionDeletionEligibilityResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "InvoiceSectionListResult": {
      "description": "The list of invoice sections.",
      "properties": {
        "value": {
          "description": "The list of invoice sections.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/InvoiceSection"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "InvoiceSection": {
      "description": "An invoice section.",
      "type": "object",
      "allOf": [{
        "$ref": "#/definitions/Resource"
      }],
      "properties": {
        "properties": {
          "description": "The properties of an invoice section.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InvoiceSectionProperties"
        }
      }
    },
    "InvoiceSectionProperties": {
      "description": "The properties of an invoice section.",
      "properties": {
        "displayName": {
          "description": "The name of the invoice section.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Dictionary of metadata associated with the invoice section.",
          "additionalProperties": {
            "type": "string"
          },
          "maxItems": 1000
        },
        "state": {
          "description": "Identifies the state of an invoice section.",
          "type": "string",
          "enum": [
            "Active",
            "Deleted",
            "Disabled",
            "Restricted",
            "UnderReview",
            "Warned"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "InvoiceSectionState",
            "modelAsString": true
          }
        },
        "reasonCode": {
          "description": "Reason for the specified invoice section status.",
          "type": "string",
          "enum": [
            "PastDue",
            "UnusalActivity"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "AccountStatusReasonCode",
            "modelAsString": true
          }
        },
        "systemId": {
          "description": "The system generated unique identifier for an invoice section.",
          "type": "string",
          "readOnly": true
        },
        "targetCloud": {
          "description": "Identifies the cloud environments that are associated with an invoice section. This is a system managed optional field and gets updated as the invoice section gets associated with accounts in various clouds.",
          "$ref": "#/definitions/TargetCloud",
          "readOnly": true
        }
      }
    },
    "InvoiceSectionDeletionEligibilityResult": {
      "description": "Elibility to delete an invoice section.",
      "type": "object",
      "properties": {
        "isEligible": {
          "description": "Specifies whether the invoice section is eligible to be deleted.",
          "type": "boolean",
          "readOnly": true
        },
        "errorDetails": {
          "description": "The list of delete invoice section eligibility errors.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/DeleteInvoiceSectionErrorDetails"
          }
        }
      }
    },
    "DeleteInvoiceSectionErrorDetails": {
      "type": "object",
      "description": "Error details of the delete invoice section eligibility validation.",
      "properties": {
        "message": {
          "description": "Error message for the delete invoice section eligibility validation.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the particular error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "The sub details of the error.",
          "readOnly": true,
          "$ref": "#/definitions/ErrorSubDetails"
        }
      }
    },
    "ErrorSubDetails": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code.",
            "type": "string",
            "readOnly": true
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string",
            "readOnly": true
          },
          "target": {
            "description": "The target of the particular error.",
            "type": "string",
            "readOnly": true
          }
        }
      }
    },
    "TargetCloud": {
      "type": "string",
      "description": "Possible cloud environments.",
      "enum": [
        "USGov",
        "USNat",
        "USSec"
      ],
      "x-ms-enum": {
        "name": "targetCloud",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The version of the API to be used with the client request. The current version is 2020-05-01."
    },
    "billingAccountNameParameter": {
      "name": "billingAccountName",
      "in": "path",
      "description": "The ID that uniquely identifies a billing account.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "invoiceSectionNameParameter": {
      "name": "invoiceSectionName",
      "in": "path",
      "description": "The ID that uniquely identifies an invoice section.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "billingProfileNameParameter": {
      "name": "billingProfileName",
      "in": "path",
      "description": "The ID that uniquely identifies a billing profile.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
